apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus-stack
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  sources:
    - repoURL: 'https://github.com/joshuamcbeth/talos-argocd.git'
      targetRevision: HEAD
      path: infrastructure/prometheus
      name: config-crds


    - repoURL: https://prometheus-community.github.io/helm-charts
      targetRevision: 79.11.0
      chart: kube-prometheus-stack
      helm:
        values: |
          namespaceOverride: monitoring
          grafana:
            enabled: false
          alertmanager:
            enabled: false
            storage:
              volumeClaimTemplate:
                spec:
                  storageClassName: "local-path"
                  accessModes: ["ReadWriteOnce"]
                  resources:
                    requests:
                      storage: 1Gi

          prometheus:
            prometheusSpec:
              securityContext:
                runAsNonRoot: false
              initContainers:
                - name: fix-permissions
                  image: busybox:latest
                  command: ['sh', '-c', 'chown -R 1000:2000 /prometheus']
                  securityContext:
                     runAsUser: 0
                  volumeMounts:
                    - name: prometheus-prometheus-stack-kube-prom-prometheus-db
                      mountPath: /prometheus
              retention: 30d
              storageSpec:
                volumeClaimTemplate:
                  spec:
                    resources:
                      requests:
                        storage: 5Gi
                    storageClassName: "local-path"
                    accessModes: ["ReadWriteOnce"]
              serviceMonitorSelectorNilUsesHelmValues: false
              podMonitorSelectorNilUsesHelmValues: false
              serviceMonitorNamespaceSelector: {}
              podMonitorNamespaceSelector: {}
              serviceMonitorSelector: {}
              podMonitorSelector: {}

  destination:
    server: 'https://kubernetes.default.svc'
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
